/* .App {
  text-align: center;
} */
html {
  font-size: 10px;
}
.categoriesMenuMenuItem1{
  height: 3rem;
  width: 5.8rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem2{
  height: 3rem;
  width: 6.9rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem3{
  height: 3rem;
  width: 10.1rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem4{
  height: 3rem;
  width: 11.2rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem5{
  height: 3rem;
  width: 8.5rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem6{
  height: 3rem;
  width: 8.9rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem7{
  height: 3rem;
  width: 6.8rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem8{
  height: 3rem;
  width: 7.8rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem9{
  height: 3rem;
  width: 7.3rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem10{
  height: 3rem;
  width: 9rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem11{
  height: 3rem;
  width: 10rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem12{
  height: 3rem;
  width: 10rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem13{
  height: 3rem;
  width: 10rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem14{
  height: 3rem;
  width: 10rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem15{
  height: 3rem;
  width: 10rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem16{
  height: 3rem;
  width: 10rem;
  font-size: 1.05rem;
}
.categoriesMenuMenuItem17{
  height: 3rem;
  width: 10rem;
  font-size: 1.05rem;
}
.pd1{
  padding-top: 10rem;
  font-weight: bold;
  font-size: 2.4rem;
}
.pd2{
  font-weight: bold;
  font-size: 1.4rem;
}
.pd3{
  font-size: 1.4rem;
}
.ui.main.container {
  margin-top: 4em;
}
.cartButton {
  height: 5rem;
  width: 20rem;
  font-size: 1.4rem;
  background: "#1bc078" !important;
}
.cartButton:hover {
  height: 5rem;
  width: 20rem;
  font-size: 1.4rem;
  background:goldenrod;
}
.cartButtonContent {
  font-size: 1.4rem;
  color:white;
}
.cartDetailMainRight{
  background-color:#f5f5f5;
}
Carousel.CardCarousel.Card{
  width: 300px;
  height: 300px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menutextaligncenter{
  text-align: center;
}
.suggestion{
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 99;
  position: relative;
  background-color: #fff;
}
.suggestion:hover{
  background-color:#333;
}
.altindex{
  z-index: 1;
}
.ustindex{
  z-index: 99;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.containerPointer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f1f1f1;
  margin: 2rem auto 0;
  word-break: break-all;
  border: 1px solid #568ce6;
}

.bloc-tabsPointer {
  display: flex;
}
.tabsPointer {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #fff;
  cursor: pointer;
  border-bottom: 1px solid #568ce6;
  box-sizing: content-box;
  position: relative;
  outline: none;
  color:#568ce6;
  font-weight: bold;
}
.tabsPointer:hover{
  background-color: #568ce6;
  color: #fff;
}
/* .tabsPointer:not(:last-child){
  border-right: 1px solid 568ce6;
} */

.active-tabsPointer  {
  background: #568ce6;
  border-bottom: 1px solid transparent;
  color: #fff;
}

.active-tabsPointer::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}
button {
  border: none;
  
}
.content-tabsPointer {
  flex-grow : 1;
}
.contentPointer {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.contentPointer h2 {
  padding: 0px 0 5px 0px;
}
.contentPointer hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.active-contentPointer {
  display: block;
}